In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.simplefilter("ignore")

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Ridge
from sklearn.metrics import r2_score
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV

In [3]:
df=pd.read_excel(r"C:\Users\Aravind\machine learning project 1\Cleanes student performance.xlsx")
df

,Unnamed: 0,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
0,0,7,99,1,9,1,91
1,1,4,82,0,4,2,65
2,2,8,51,1,7,2,45
3,3,5,52,1,5,2,36
4,4,7,75,0,8,5,66
...,...,...,...,...,...,...,...
9995,9995,1,49,1,4,2,23
9996,9996,7,64,1,8,5,58
9997,9997,6,83,1,8,5,74
9998,9998,9,97,1,7,0,95
9999,9999,7,74,0,8,1,64

In [4]:
df=df.drop(columns="Unnamed: 0")
df

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
0,7,99,1,9,1,91
1,4,82,0,4,2,65
2,8,51,1,7,2,45
3,5,52,1,5,2,36
4,7,75,0,8,5,66
...,...,...,...,...,...,...
9995,1,49,1,4,2,23
9996,7,64,1,8,5,58
9997,6,83,1,8,5,74
9998,9,97,1,7,0,95
9999,7,74,0,8,1,64

**X and Y**

In [5]:
x=x=df.drop("Performance Index",axis=1)
y=df["Performance Index"]

**Train_Test_Split**

In [6]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.8,random_state=63)

# Modelling:Elastic Regression&Evalution

**Lasso Regression With default parameters**

In [7]:
# Modelling
from sklearn.linear_model import ElasticNet
enr_base = ElasticNet()
enr_base.fit(x_train,y_train)
#predictions
train_predictions = enr_base.predict(x_train) 
test_predictions =enr_base.predict(x_test)

#evaluation
print("Train R2:", enr_base.score(x_train,y_train))
print("Test R2:", enr_base.score(x_test,y_test))
from sklearn.model_selection import cross_val_score
print("Cross Validation Score:", cross_val_score (enr_base,x,y,cv=5).mean())

Train R2: 0.9869655377688569
Test R2: 0.986049475128685
Cross Validation Score: 0.9866983175035413

**Applying Hyperparameter tuning for lasso Regression**

In [8]:
from sklearn.model_selection import GridSearchCV

# model
estimator = ElasticNet()

# parameters & values
param_grid={"alpha": [0.1,0.2,1,2,3,5,10], "l1_ratio":[0.1,0.5,0.75,0.9,0.95,1]}

#identifying the best value of the parameter within given values for the given data
model_hp= GridSearchCV(estimator,param_grid,cv=5,scoring='neg_mean_squared_error')
model_hp.fit(x_train,y_train)
model_hp.best_params_

{'alpha': 0.1, 'l1_ratio': 0.1}

**Rebulit Lasso Model using best parameter**

In [9]:
#Modelling
enr_best = ElasticNet(alpha=0.1,l1_ratio=0.1)
enr_best.fit(x_train,y_train)

print("Intercept: ", enr_best.intercept_)
print("coefficients:", enr_best.coef_)

#predictions
train_predictions = enr_best.predict(x_train)
test_predictions = enr_best.predict(x_test)

#Evaluation
print("Train R2:", enr_best.score(x_train,y_train))
print("Test R2:", enr_best.score(x_test,y_test))
print("Cross Validation Score:", cross_val_score(enr_best,x,y,cv=5).mean())

Intercept:  -33.71583219810249
coefficients: [2.81792016 1.0185265  0.38953206 0.46862153 0.19539872]
Train R2: 0.9889194875438078
Test R2: 0.9877917706282147
Cross Validation Score: 0.9886775399387722

# Prediction on new Data

In [10]:
input_data={'Hours Studied':7,'Previous Scores':75,'Extracurricular Activities':0,'Sleep Hours':8,'Sample Question Papers Practiced':5}

In [15]:
df_test=pd.DataFrame(input_data,index=[0])
Transformed_data=df_test

In [17]:
enr_best.predict(Transformed_data)

array([67.1250625])