In [17]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.simplefilter("ignore")

In [2]:
df=pd.read_excel(r"C:\Users\Aravind\machine learning project 1\Cleanes student performance.xlsx")
df

,Unnamed: 0,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
0,0,7,99,1,9,1,91
1,1,4,82,0,4,2,65
2,2,8,51,1,7,2,45
3,3,5,52,1,5,2,36
4,4,7,75,0,8,5,66
...,...,...,...,...,...,...,...
9995,9995,1,49,1,4,2,23
9996,9996,7,64,1,8,5,58
9997,9997,6,83,1,8,5,74
9998,9998,9,97,1,7,0,95
9999,9999,7,74,0,8,1,64

In [3]:
df.drop(columns="Unnamed: 0")

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
0,7,99,1,9,1,91
1,4,82,0,4,2,65
2,8,51,1,7,2,45
3,5,52,1,5,2,36
4,7,75,0,8,5,66
...,...,...,...,...,...,...
9995,1,49,1,4,2,23
9996,7,64,1,8,5,58
9997,6,83,1,8,5,74
9998,9,97,1,7,0,95
9999,7,74,0,8,1,64

**X and Y**

In [4]:
x=x=df.drop("Performance Index",axis=1)
y=df["Performance Index"]

**Train_Test_split**

In [5]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.8,random_state=63)

# Modelling:Polynomial Regression

In [6]:

#data preprocessing on train 
from sklearn.preprocessing import PolynomialFeatures 
polynomial_converter = PolynomialFeatures(degree=2)
x_train_poly = pd.DataFrame (polynomial_converter.fit_transform(x_train))

#Modelling on train data 
from sklearn.linear_model import LinearRegression
model=LinearRegression()
model.fit(x_train_poly,y_train)

#prediction on train data 
ypred_train =model.predict(x_train_poly)

#Evaluation on train data
from sklearn.metrics import mean_squared_error, r2_score 
print("Train RMSE:", np.sqrt(mean_squared_error(y_train, ypred_train)))
print("Train R2:", r2_score(y_train, ypred_train))

#Cross Validation on train data

from sklearn.model_selection import cross_val_score 
print("Cross Validation Score:", cross_val_score (model, x_train_poly,y_train,cv=5).mean())

Train RMSE: 2.0139677204698887
Train R2: 0.9890030099023447
Cross Validation Score: 0.9888855118692434

In [7]:
#data preprocessing on test data
x_test_poly=pd.DataFrame(polynomial_converter.transform(x_test))


#prediction on test data
ypred_test=model.predict(x_test_poly)

#evalution on test data
print("Test RMSE:",np.sqrt(mean_squared_error(y_test,ypred_test)))
print("Test R2:",r2_score(y_test,ypred_test))

Test RMSE: 2.1238652288922233
Test R2: 0.9878037625117395

# Hyperparameter Tuning

**Choosing the best polynomial degree for given dataset**

In [8]:
train_r2=[]
test_r2=[]

for i in range(1,10):
    #preprocessing
    polynomial_converter=PolynomialFeatures(degree=i)
    x_train_poly=pd.DataFrame(polynomial_converter.fit_transform(x_train))
    
    #modelling
    model=LinearRegression()
    model.fit(x_train_poly,y_train)
    
    #predictor &evalution on train data
    train_pred=model.predict(x_train_poly)
    train_r2.append(model.score(x_train_poly,y_train))
    
    #transformation on test data
    x_test_poly=pd.DataFrame(polynomial_converter.transform(x_test))
    
    #prediction &evalution on trai data
    test_pred=model.predict(x_test_poly)
    test_r2.append(model.score(x_test_poly,y_test))

In [9]:
train_r2

[0.9889747858535893,
 0.9890030099023447,
 0.9890755222060571,
 0.988937291219337,
 0.9575088304174056,
 0.9478416160475429,
 0.8839743835266569,
 -0.5588037009930513,
 0.6838457808848182]

In [10]:
test_r2

[0.9878469537127567,
 0.9878037625117395,
 0.9877288577289531,
 0.9873769301396329,
 0.9577738306202993,
 0.9452942000504432,
 0.8898190493478046,
 -0.6449776215135585,
 0.6678080454164208]

# Final PolynomialModel With Best Parameters

In [19]:
%%timeit
#preprocessing
final_poly_converter=PolynomialFeatures(degree=2)
x_train_poly=pd.DataFrame(final_poly_converter.fit_transform(x_train))

#build the final model
final_model=LinearRegression()
final_model.fit(x_train_poly,y_train)

#prediction &evalution on train data
train_pred=final_model.predict(x_train_poly)
print("Train R2:",final_model.score(x_train_poly,y_train))
print("Cross Validation Score:", cross_val_score (model, x_train_poly,y_train,cv=5).mean())

#preprocessing+prediction+evalution on test data
x_test_poly=pd.DataFrame(final_poly_converter.transform(x_test))
test_pred=final_model.predict(x_test_poly)
print("Test R2:",final_model.score(x_test_poly,y_test))
%%timeit

Train R2: 0.9890030099023447
Cross Validation Score: 0.9888855118692434
Test R2: 0.9878037625117395

UsageError: Line magic function `%%timeit` not found.

# Prediction on new data

In [18]:
test_df=pd.DataFrame({"Unnamed:0":[1],"Hours Studied":[4],"Previous Scores":[82],"Extracurricular Activities":[0],"sleep Hours":[4],"Sample Question Papers Practiced":[2]})
print(test_df)

#Transformation
transformed_data=final_poly_converter.transform(test_df)

print("\nExpected Performance Index:",final_model.predict(transformed_data)[0])

   Unnamed:0  Hours Studied  Previous Scores  Extracurricular Activities  \
0          1              4               82                           0

   sleep Hours  Sample Question Papers Practiced
0            4                                 2

Expected Performance Index: 63.098597107025896