In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.simplefilter("ignore")

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Ridge
from sklearn.metrics import r2_score
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV

In [3]:
df=pd.read_excel(r"C:\Users\Aravind\machine learning project 1\Cleanes student performance.xlsx")
df

,Unnamed: 0,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
0,0,7,99,1,9,1,91
1,1,4,82,0,4,2,65
2,2,8,51,1,7,2,45
3,3,5,52,1,5,2,36
4,4,7,75,0,8,5,66
...,...,...,...,...,...,...,...
9995,9995,1,49,1,4,2,23
9996,9996,7,64,1,8,5,58
9997,9997,6,83,1,8,5,74
9998,9998,9,97,1,7,0,95
9999,9999,7,74,0,8,1,64

In [4]:
df=df.drop(columns="Unnamed: 0")
df

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
0,7,99,1,9,1,91
1,4,82,0,4,2,65
2,8,51,1,7,2,45
3,5,52,1,5,2,36
4,7,75,0,8,5,66
...,...,...,...,...,...,...
9995,1,49,1,4,2,23
9996,7,64,1,8,5,58
9997,6,83,1,8,5,74
9998,9,97,1,7,0,95
9999,7,74,0,8,1,64

**X and Y**

In [5]:
x=x=df.drop("Performance Index",axis=1)
y=df["Performance Index"]

**Train_Test_Split**

In [6]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.8,random_state=63)

# Modelling:Ridge Regression

**Apply hyperparameter tuning for Ridge Regression**

In [8]:
#model
estimator=Ridge()

#parameters & values
param_grid={"alpha":list(range(1,100))}

#Identifying the best value of the parameter within the given values for the given data
model_hp=GridSearchCV(estimator,param_grid,cv=5,scoring="r2")

model_hp.fit(x_train,y_train)
model_hp.best_params_

{'alpha': 26}

**Modelling Ridge Regression Using best Parameters**

In [11]:
#modelling
ridge_best=Ridge(alpha=26)
ridge_best.fit(x_train,y_train)

print("Intercept:",ridge_best.intercept_)
print("Coefficients:",ridge_best.coef_)

Intercept: -34.15036906910646
Coefficients: [2.85580843 1.01886915 0.56369342 0.48766372 0.19768183]

# Evalution

**Evalution on Train data**

In [12]:
ypred_train=ridge_best.predict(x_train)
print("Train R2:",r2_score(y_train,ypred_train))
print("CV score:",cross_val_score(ridge_best,x_train,y_train,cv=5).mean())

Train R2: 0.9889727093275011
CV score: 0.9889246486292833

**Evalution on test data**

In [13]:
ypred_test=ridge_best.predict(x_test)
print("Test R2:",r2_score(y_test,ypred_test))

Test R2: 0.9878514038101873

In [14]:
df.columns

Index(['Hours Studied', 'Previous Scores', 'Extracurricular Activities',
       'Sleep Hours', 'Sample Question Papers Practiced', 'Performance Index'],
      dtype='object')

# Prediction on New Data

In [17]:
input_data={'Hours Studied':7,'Previous Scores':75,'Extracurricular Activities':0,'Sleep Hours':8,'Sample Question Papers Practiced':5}

In [19]:
df_test=pd.DataFrame(input_data,index=[0])
df_test

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced
0,7,75,0,8,5

**predict**

In [20]:
ridge_best.predict(df_test)

array([67.14519471])